@using PruebaDotNet.Models.Entities;
@{
    ViewData["Title"] = "Home Page";
}

<!-- Agrega jQuery si no lo has hecho -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="text-center">
    <h1 class="display-4">PRUEBA DE DEV DONET</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p></p>




